/*reset*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: 100%;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
main{
    flex: 1;
}
footer {
    text-align: center; 
    height: 110px;
    align-items: center;
}