/*Variables*/
$fontSizeGrande: 30px;
$fontSizeMediana: 25px;
$fontSizeChica: 20px;
$fontSizeCelu: 15px;
$anchoMax: 100%;
$anchoMedio: 50%;
/*Modificar a futuro*/
$colorVerde: #A0C49D;
$colorVerdeHover: #7ab875;
$colorRosa: #DBC4F0;
$colorRosaHover: #caabe8;
$colorCeleste: #c0dbea;
$colorCelesteHover: #5583a4;
$colorGrisClaroHover: #e5e5e5;
$colorSombra: #f6f6f6;