.banner-info-compra {
    .info-compra {
        @include flex(flex, row, center, center);
        margin: 10px 0;
        text-align: center;
        @include sizes(6.5rem, 100%);

        .info-compra-contenido {
            @include sizes(90%, 60%);
            @include flex(flex, row, center, center);
            border-right: 1px solid rgba(0,0,0,.1);
            margin: 5px;
            align-self: stretch;
            justify-self: stretch;

            svg {
                @include sizes(40%, 15%);
                margin: 5px;
            }

            .info-compra-content-body {
                @include sizes(80%, 70%);
                margin: 5px;
                padding-top: 10px;
                h2 {
                    @include fuente('Unna', $fontSizeCelu + 3, black);
                }

                p {
                    @include fuente('Poppins', $fontSizeCelu, black);
                }
            }
        }
    }
}