.nav-header{
    @include fuente('Poppins', $fontSizeChica, black);
    a {
        color: black;
    }
    .nav-content{
        background-color: #FACBEA;
        height: 110px;
        align-items: center;
        .nav-logo{
            //justify-self: start;
            //align-self: center;
            @include sizes(60%, 20%);
            img{
                @include sizes(100%, auto);
            }
        }
        div.nav-navegacion{
            @include sizes(50%, 40%);
            .nav-menu{
                @include sizes(100%, 100%);
                .nav-menu-list{
                    @extend .padre-flex-row-position;
                    align-self: center;
                    @include sizes(100%, 100%);
                    justify-self: center;
                    padding: 10px;
                }
            }
        }
        .nav-area{
            @extend .padre-flex-row-position;
            @include sizes(50%, 20%);
            align-self: center;
            justify-self: center;
            span{
                align-self: center;
                @include sizes(100%, 100%);
                justify-self: center;
                background-color: white;
                padding: 20px;
                border: none;
                border-radius: 15px;
            }
        }
    }  
}